# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [2]:
import pandas as pd
import numpy as np
import requests
import xlsxwriter
import math

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [3]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

## Acquiring an API Token

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a `secrets.py` file that doesn't get pushed to your local Git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randomly-generated and (more importantly) has no cost associated with it.

[Click here](http://nickmccullum.com/algorithmic-trading-python/secrets.py) to download your `secrets.py` file. Move the file into the same directory as this Jupyter Notebook before proceeding.

In [4]:
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call

Now it's time to structure our API calls to IEX cloud. 

We need the following information from the API:

* Market capitalization for each stock
* Price of each stock

In [5]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data
# print(data.status_code)

{'symbol': 'AAPL',
 'companyName': 'Apple Inc',
 'primaryExchange': 'ATO A)(SLR ME/LBESCELK NNGTSGQAAD',
 'calculationPrice': 'close',
 'open': 132.61,
 'openTime': 1678214536048,
 'openSource': 'icoflifa',
 'close': 133.33,
 'closeTime': 1622586235653,
 'closeSource': 'fioaifcl',
 'high': 133.716,
 'highTime': 1663740398355,
 'highSource': 'd petlydce 1aiiue ren5m',
 'low': 132,
 'lowTime': 1658912962082,
 'lowSource': 'tI ermlpiEe a rcXei',
 'latestPrice': 130.34,
 'latestSource': 'Close',
 'latestTime': 'January 15, 2021',
 'latestUpdate': 1685774593655,
 'latestVolume': 116053339,
 'iexRealtimePrice': 129.85,
 'iexRealtimeSize': 71,
 'iexLastUpdated': 1650010483127,
 'delayedPrice': 130,
 'delayedPriceTime': 1688670905018,
 'oddLotDelayedPrice': 132.9,
 'oddLotDelayedPriceTime': 1639776213577,
 'extendedPrice': 128.56,
 'extendedChange': -0.33,
 'extendedChangePercent': -0.00254,
 'extendedPriceTime': 1659460352813,
 'previousClose': 132.16,
 'previousVolume': 91144636,
 'change': -1.79,
 'changePercent': -0.01391,
 'volume': 115987394,
 'iexMarketPercent': 0.010521140413260648,
 'iexVolume': 1210143,
 'avgTotalVolume': 115652899,
 'iexBidPrice': 0,
 'iexBidSize': 0,
 'iexAskPrice': 0,
 'iexAskSize': 0,
 'iexOpen': 129.73,
 'iexOpenTime': 1670188194078,
 'iexClose': 130.4,
 'iexCloseTime': 1687674770952,
 'marketCap': 2214146716617,
 'peRatio': 39.89,
 'week52High': 138.96,
 'week52Low': 56.71,
 'ytdChange': -0.056017460488583415,
 'lastTradeTime': 1659741531802,
 'isUSMarketOpen': False}

## Parsing Our API Call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy. 

With that said, the data isn't in a proper format yet. We need to parse it first.

In [6]:
price = data['latestPrice']
market_cap = data['marketCap']

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [7]:
my_columns = ['Ticker', 'Stock Price', 'Markeit Capitalization', 'Number of SHares to Buy']
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Markeit Capitalization, Number of SHares to Buy]
Index: []

In [8]:
final_dataframe.append(
    pd.Series([
        symbol,
        price,
        market_cap,
        'N/A'
    ], index= my_columns), ignore_index=True
)

  Ticker  Stock Price Markeit Capitalization Number of SHares to Buy
0   AAPL       130.34          2214146716617                     N/A

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [38]:
final_dataframe = pd.DataFrame(columns = my_columns)
for stock in stocks['Ticker']:
    api_url = f'https://sandbox.iexapis.com/stable/stock/{stock}/quote/?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_url).json()
    final_dataframe = final_dataframe.append
    (
       pd.Series
        (
           [
                stock,
               data['latestPrice'],
               data['marketCap'],
               'N/A'
            ], index = my_columns
       ), ignore_index=True
    )

In [39]:
final_dataframe

    Ticker  Stock Price Markeit Capitalization Number of SHares to Buy
0        A      131.700            40180293065                     N/A
1      AAL       16.840            10037998377                     N/A
2      AAP      176.790            11506911928                     N/A
3     AAPL      129.290          2259848146599                     N/A
4     ABBV      112.330           200735550118                     N/A
..     ...          ...                    ...                     ...
500    YUM      112.360            32522312205                     N/A
501    ZBH      164.260            34422549107                     N/A
502   ZBRA      415.300            22500524374                     N/A
503   ZION       53.159             8742193159                     N/A
504    ZTS      165.200            78257865291                     N/A

[505 rows x 4 columns]

## Using Batch API Calls to Improve Performance

Batch API calls are one of the easiest ways to improve the performance of your code.

This is because HTTP requests are typically one of the slowest components of a script.

Also, API providers will often give you discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

In [9]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [24]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
# list(symbol_groups)
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_groups[i])

final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
# print(batch_api_call_url)
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                pd.Series([symbol, 
                                           data[symbol]['quote']['latestPrice'], 
                                           data[symbol]['quote']['marketCap'], 
                                           'N/A'], 
                                          index = my_columns), 
                                ignore_index = True)
final_dataframe

    Ticker  Stock Price Markeit Capitalization Number of SHares to Buy
0        A       129.23            40463843064                     N/A
1      AAL        16.39            10009402516                     N/A
2      AAP       166.41            11453107807                     N/A
3     AAPL       132.68          2140871037596                     N/A
4     ABBV       115.69           199583918772                     N/A
..     ...          ...                    ...                     ...
500    YUM       108.75            32322946222                     N/A
501    ZBH       161.63            34584163050                     N/A
502   ZBRA       424.52            22784052175                     N/A
503   ZION        50.87             8105819340                     N/A
504    ZTS       166.87            77319152963                     N/A

[505 rows x 4 columns]

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [37]:
# TRY EXCEPT example. Use this in the future.
portfolio_size = input('Enter the value of your portfolio:')
try:
    val = float(portfolio_size)
    print(val)
except ValueError:
    print('Not a number. \Please try again.')
    portfolio_size = input('Enter the value of your portfolio:')
    val = float(portfolio_size)

Enter the value of your portfolio:200
200.0

In [38]:
position_size = val/len(final_dataframe.index)
position_size

0.39603960396039606

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

### Initializing our XlsxWriter Object

### Creating the Formats We'll Need For Our `.xlsx` File

Formats include colors, fonts, and also symbols like `%` and `$`. We'll need four main formats for our Excel document:
* String format for tickers
* \\$XX.XX format for stock prices
* \\$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

### Applying the Formats to the Columns of Our `.xlsx` File

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

```python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_template #This applies the format 'string_template' to the column
                    )
```

This code works, but it violates the software principle of "Don't Repeat Yourself". 

Let's simplify this by putting it in 2 loops:

## Saving Our Excel Output

Saving our Excel file is very easy: